<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.szu.mapper.ZktDeviceMapper" >
  <resultMap id="BaseResultMap" type="edu.szu.pojo.ZktDevice" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_num" property="deviceNum" jdbcType="VARCHAR" />
    <result column="device_ip" property="deviceIp" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="device_version" property="deviceVersion" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="fault_code" property="faultCode" jdbcType="VARCHAR" />
    <result column="fault_time" property="faultTime" jdbcType="TIMESTAMP" />
    <result column="repair_time" property="repairTime" jdbcType="TIMESTAMP" />
    <result column="whether_network_device" property="whetherNetworkDevice" jdbcType="VARCHAR" />
    <result column="device_params" property="deviceParams" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>