<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.szu.mapper.ZktTaskFlowMapper" >
  <resultMap id="BaseResultMap" type="edu.szu.pojo.ZktTaskFlow" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
    <result column="eq_id" property="eqId" jdbcType="BIGINT" />
    <result column="eq_num" property="eqNum" jdbcType="VARCHAR" />
    <result column="reprint_area" property="reprintArea" jdbcType="VARCHAR" />
    <result column="agv_id" property="agvId" jdbcType="BIGINT" />
    <result column="ohc_id" property="ohcId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="rl_id" property="rlId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="result_percent" property="resultPercent" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>